<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="../../public/css/footer.css">
</head>
<body>
<div class="wrapper-footer">
    <div class="footer-links">
        <ul class="links-foo">
            <li>
                <a style="color: lawngreen" target="_blank" href="https://github.com/php1995/php-forum"> Исходный код
                    форума</a>
            </li>
            <li>
                <a style="color: lawngreen" href="https://github.com/php1995/php-forum#readme" target="_blank">О
                    сервисе</a>
            </li>
            <li>
                <a href="/feedback">Обратная связь</a>
            </li>
            <li>
                <a href="/blog">Блог</a>
            </li>
        </ul>
    </div>
    <div>
        <div class="footer-icons">
            <div class="icon-vk">
                <a href="https://vk.com/id1" target="_blank"></a>
            </div>
            <div class="icon-youtube">
                <a href="https://youtube.com" target="_blank"></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
