<!DOCTYPE html>
<html>
<head>
	<title>0</title>
	<link rel="stylesheet" type="text/css" href="../../public/css/profile.css">
</head>
<body>
	<div class="wrapper-profile">
		<div class="icon-name">
			<div class="profile-icon"></div>
			<div class="profile-name">Ivan Ivanov</div>
		</div>
		<div class="about-profile1">
			<div class="about-me">О себе:</div>
			<div class="description">Open Server</div>
		</div>
		<div class="about-profile2">
			<div class="contacts-title">Contacts:</div>
			<div class="contacts">ebalopenserver@mail.ru
			</div>
		</div>
	</div>
</body>
</html>
