* {
    margin:0;
    padding:0;
}

.wrapperfooter
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: 100%;
	height: 10vh;
	background-color: #a1a1a1;
	padding-left: 10px;
	padding-right: 10px;
}

.footerlinks
{
	display: block;
	width: 40%;
}

.linksfoo
{
	display: flex;
	width: 100%;
	justify-content: space-between;
	list-style-type: none;
}

.linksfoo li a
{
	color: #212121;
}

.linksfoo li a:hover { 
    text-decoration: underline;
   }

.footericons
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: auto;
	height: auto;
}

.iconvk
{
	background-image: url(../images/vk-1.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 35px;
	height: 35px;
	margin-right: 12px;
}

.iconvk a
{
	display: block;
	height: 100%;
}

.iconyoutube
{
	background-image: url(../images/youtube.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 45px;
	height: 30px;
}

.iconyoutube a
{
	display: block;
	height: 100%;
}