.tag-wrapper {
    margin-left: 20px;
}

.tags-flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 1000px;
}

.tag-block {
    margin: 15px;
    border: 5px ridge rgb(150, 150, 150);
    border-radius: 10%;
    width: 200px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tag-icon img {
    padding: 5px;
    width: 100px;
    height: 90px;
}
.tag-name p {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}