@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

#php-logo {
    width: 60px;
    height: 50px;
    float: left;
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
}

a {
    color: #fa713e;
    text-decoration: none;
    transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
}

a:hover {
    color: #c32626;
    text-decoration: none;
    transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
}

img {
    max-width: 100%;
    height: auto;
    width: auto \9;
    -moz-transition: all 3s ease-out;
    -o-transition: all 3s ease-out;
    -webkit-transition: all 3s ease-out;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

header {
    float: left;
    background-color: #343434;
    width: 99.4%;
    padding: 0.3%;
    border-bottom: 5px solid #59595a;
}

header > div#logo > a > span {
    font-size: 2em;
    margin-left: 10px;
    font-family: 'Suez One', serif;
}

/* should be adapted in future */
#logo {
    float: left;
    width: 30%;
}

#about {
    float: left;
    width: 37%;
}

#reg_auth {
    float: right;
    width: 30%;
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
}

@media (min-width: 950px) {
    #logo > a > img {
        margin-left: 15%;
    }

    #logo {
        float: left;
        width: 30%;
    }

    #about {
        float: left;
        width: 37%;
    }

    #reg_auth {
        float: right;
        width: 30%;
    }
}

@media (max-width: 524px) {
    #logo > a > img {
        margin-left: 5%;
    }

    #logo {
        width: 100%;
    }

    #about {
        visibility: hidden;
        display: none;
    }

    #reg_auth {
        visibility: hidden;
        display: none;
    }
}

@media (max-width: 949px) and (min-width: 525px) {
    #logo > a > img {
        margin-left: 15%;
    }

    #logo {
        float: left;
        width: 50%;
    }

    #about {
        visibility: hidden;
        display: none;
    }

    #reg_auth {
        float: right;
        width: 50%;
    }
}

#about {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 1.4em;
    padding-top: 10px;
}

#about > a {
    color: white;
    font-family: 'Roboto Slab', serif;
}

#about > a:hover {
    color: #dfd;
    border-bottom: 1px solid silver;
}

.reg_auth {
    color: white;
}

.btn {
    float: right;
    margin-right: 3%;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px 9px;
    font-size: 1.2em;
    background-color: rgba(236, 101, 80, 1);
    text-shadow: #454545 0 0 2px;
    border-bottom: 4px solid rgba(217, 91, 72, 1);
    font-family: 'Roboto Slab', serif;
}

.btn:hover {
    border-bottom: 2px solid rgb(183, 234, 65);
    margin-top: 7px;
}

.btn:active {
    border-bottom: 0;
    margin-top: 9px;
}

/* EN: styles for footer    RU: стили для футера */
#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#content {
    flex: 1 0 auto;
}

footer {
    float: left;
    background-color: #343434;
    width: 99.4%;
    padding: 0.3%;
    border-top: 5px solid #59595a;
}

#vk_logo {
    width: 40px;
    height: 40px;
}

#youtube_logo {
    height: 40px;
    width: 140px;
}

#footer_menu {
    display: inline-flex;
    margin-left: 20px;
    margin-right: 20px;
}

.footer_menu_element {
    padding: 10px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 23px;
}

#site_name {
    padding: 10px;
    text-align: center;
    font-size: 23px;
    color: #37e99f;
    font-family: 'Roboto Slab', serif;
}

#site_name > span {
    font-family: 'Suez One', Serif;
    color: #eef35a;
}

