@media screen and (min-width: 1050px) {

    .center_carusel_text {
        margin-bottom: 30%;
    }

    .carusel_title {
        font-size: 35px;
        font-family: Arial;
    }
}

@media screen and  (min-width: 700px) and (max-width: 1050px) {
    .center_carusel_text {
        margin-bottom: 20%;
    }

    .carusel_title {
        font-size: 25px;
        font-family: Arial;
    }
}

.opacity_07 {
    opacity: 0.9;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}
